* {
    padding: 0px;
    margin: 0px;
}

.back_color {
    background-color: blue;
    height: 100vh;
    width: 100%;
}

.box {
    background-color: white;
    width: 400px;
    height: 400px;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media screen and (max-width: 600px){
    .box{
        width: 300px;
    }
}